/*Helpline*/

.col-help{
    background-color:#006E6D;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}


/*Navigation*/


.navigation{
    background-color: white;
   
}


.statistics{
    color: red;
    font-weight: bolder;
}


.stat-dropdown{
    width: 210px;   
}

.stat-menu:hover{
    background-color: #88B04B;
    color: white;
    border-bottom: 1px solid #006E6D;   
}

.menu{
    color: #bbb;
}


/*------------Breadcrumb---------------*/

.bread{
    text-align: center;
    margin: 5px;
  }
  
  .bread-item{
      display: inline-block;
      font-size: 17px;
  }
      
  
  .bread-item:not(:last-of-type)::after{
      content: '\203a';
      margin: 0 5px;
  }
  
  .bread-link{
      color: #bbb;
  }
  
  .bread-link-active{
      color: #32CD32;
      font-weight: bold;
  }
  


/*------------Background Photo---------------*/

.hero-img{
    background-image: linear-gradient(rgba(44, 42, 42, 0.5),rgba(138, 134, 134, 0.5)), 
    url(photo/2.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;    
    vertical-align: middle;
}

.hero-img .content{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 60%;
  padding: 20px;
}


/*---------------------Footer----------*/


.footer{
    margin-top: 200px;
    background-color: #ddd;
    color: #474e5d;
}

.col-footer{
    padding: 40px;
    
}

.col-footer1{
    padding: 40px; 
}

.col-footer2{
    
    padding: 40px;
}


/*----Video Column----*/

.col-frame{
    margin-top: 40px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 45px;
}

.col-frame:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sub-col{
    padding: 2px 16px;
}

